*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 40%;
    border: 3px solid white;
    border-radius: 50%;
    height: 47px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list{
    width: 50%;
    display: flex;
    align-items: center;

}

.nav-list li{
    list-style: none;
    padding: 29px 30px;
    
}

.nav-list li a{
    text-decoration: none;
    color: white;
    
}
.nav-list li a:hover{
    color: gray;
}


.rightNav{
    width: 50%;
    text-align: right ;
    padding: 0 23px;
}

#search{
    padding: 5px;
    font-size: 12px;
    border: 2px solid gray;
    border-radius: 9px;

}

.background{
    background: rgba(0, 0, 0, 0.7) url('../img/blog.jpg');
    background-size: cover;
    background-blend-mode:darken;

}

.firstSection{
    height: 100vh;   
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firsHalf{
    width: 75%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondHalf{
    width: 30%;
}

.secondHalf img{
    width: 108%;
    padding: 2px 1;
    border: 4px solid gray;
    border-radius: 150px;
    margin: auto;
    height: 180px;

}

.text-big{
    font-size: 30px;
}
.text-small{
    font-size: 18px;
}
 
.btn{
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}
.btn-sm{
    padding: 4px 9px;
    vertical-align: middle;
}
.btn-dark{
    padding: 4px 9px;
    color: black;
    border: 2px solid gray;
    border-radius: 8px;
}

.section{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
}
.paras{
    padding: 0px 26px;
}

.imgfluid{
    width: 150%;
    border-radius: 19px
}

.sec-lift{
    flex-direction: row-reverse;
    height: 235px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
}
.lifts{
   padding-left: 122px;
}

.imglift{
    width: 150%;
    border-radius: 19px
}

.contact{
    background-color: rgb(235, 235, 235);
    height: 620px;
}

.text-center{
    text-align: center;  
    padding: 14px; 
    font-size: 40px;
}

.form{
    max-width: 900px;
    margin: 0px auto;
}
.form-input{
    margin: 14px 0px;
    padding: 5px 3px;
    width: 100%;
    font-size: 19px;
    border: 1px solid gray;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-footer{
    text-align: center; 
    color: white; 
    padding: 14px 0px; 
    font-family: 'Ubuntu',sans-serif;
    display: flex;
    justify-content: center;
}